{{#if showHere}}
  {{#if featuredTagTopics}}
    {{#each featuredTagTopics as |t|}}
      <div class="carousel">
        <div
          class="carousel__item"
          style={{html-safe (concat "background-image: url(" t.image_url ")")}}
        >
        </div>
      </div>
    {{/each}}
  {{/if}}
{{/if}}